#!/usr/bin/make -f

UPSTREAM_VERSION := $(shell dpkg-parsechangelog -SVersion | sed 's/-[^-]*$$//')
DKMS_SOURCE_DIR := debian/usbled-standalone-dkms/usr/src/usbled-standalone-$(UPSTREAM_VERSION)

%:
	dh $@ --with dkms

override_dh_auto_install:
	install -d $(DKMS_SOURCE_DIR)
	install -m 0644 Makefile usbled.c $(DKMS_SOURCE_DIR)/

override_dh_dkms:
	sed 's/#MODULE_VERSION#/$(UPSTREAM_VERSION)/g' debian/usbled-standalone-dkms.dkms.in \
		> debian/usbled-standalone-dkms.dkms
	dh_dkms

override_dh_clean:
	rm -f debian/usbled-standalone-dkms.dkms
	dh_clean

override_dh_auto_build:
	# DKMS package: nothing to build at package build time
	: